<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="飞天诚信" parallel="false">
    <parameter name="fileNameParameter" value="C:\Users\JackieSong\Desktop\app_testcase.xlsx"></parameter>
    <test name="接口自动化">
        <classes>
            <class name="com.song.test.ng.TestRun"/>
        </classes>
    </test>

    <listeners>
        <!-- reportng报告替代testng默认报告 -->
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

    </listeners>

</suite>